# I. OOP

1. (6б). Створіть клас Animal, додайте три атрибути, один з яких має значення за замовчуванням та два методи на свій розсуд.

In [1]:
class Animal():
  def __init__(self, name, sound, kind='Mammal'):
    self.name = name
    self.kind = kind
    self.sound = sound

  def animal_kind(self):
    return f"{self.name} is {self.kind}"

  def animal_sound(self):
    return f"{self.name} says {self.sound}"

2. (2б). Створіть два обʼєкти цього класу, де один з обʼєктів створюється із дефолтним значенням атрибуту. На одному обʼєкті отримайте значення його атрибуту, а на іншому викличте один з його методів.

In [2]:
cat = Animal(name="Cat", sound="Meow")
parrot = Animal(name="Parrot", sound="Hello", kind="Bird")

print("Cat is " + cat.kind)
print(parrot.animal_sound())

Cat is Mammal
Parrot says Hello

3. (5б). Створіть клас, де атрибути мають різні рівні доступу. Спробуйте отримати їхні значення та опишіть результати.

In [7]:
class Animal():
  def __init__(self, name, sound, kind='Mammal'):
    self._name = name
    self.__kind = kind
    self.sound = sound

parrot = Animal(name="Parrot", sound="Hello", kind="Bird")
print(parrot.sound)
print(parrot._name)
print(parrot._Animal__kind)

Hello
Parrot
Bird

4. (7б). Як ви розумієте термін self? Для чого використовується метод __init __?

Self це безпосередньо об'єкт класу для якого ми викликаємо певну функцію класу.
__init__ використовується для задання об'єкту класу і виконується одразу при виклиці класу

5. (9б). Створіть клас Фігура без атрибутів, з методом get_area для отримання площі фігури, що повертає 0 та __add __, який приймає self та other в якості аргументів, а повертає суму площин фігур self та other.

In [ ]:
class Figure():
  def get_area():
    return 0

  def __add__(self, other):
    return self.get_area() + other.get_area()

6. (11б). Створіть 2 дочірніх класи від Фігури: Трикутник та Коло, які мають атрибути, необхідні для розрахунку площин. Визначте метод get_area в кожному з них так, щоби вони розраховували площу в залежності від формули для кожного типу фігури. Створіть обʼєкт класу Трикутник та обʼєкт класу Коло. Виконайте операцію суми за допомогою оператора + між ними.

In [5]:
class Figure():
  def get_area():
    return 0

class Triangle(Figure):
  def __init__(self, base, height):
    self.base = base
    self.height = height

  def get_area(self):
    return 0.5 * self.base * self.height

class Circle(Figure):
  def __init__(self, radius):
    self. radius =  radius

  def get_area(self):
    return 3.14 * self.radius ** 2

circle = Circle(5)
triangle = Triangle(20, 10)
print(circle.get_area() + triangle.get_area())

178.5

7. Продемонструйте різницю між isinstance та issubclass.

In [28]:
class Figure():
  def get_area():
    return 0

class Circle(Figure):
  def __init__(self, radius):
    self. radius =  radius

figure1 = Circle(5)
print(isinstance(figure1, Circle))
print(isinstance(figure1, Figure))

print(issubclass(Circle, Figure))
print(issubclass(Figure, Circle))

True
True
True
False

8. (13б). Створіть клас BankAccount з приватними атрибутами balance та account_number. Реалізуйте методи поповнення та зняття коштів, забезпечивши належну інкапсуляцію. Підказка: використовуйте декоратори property та setter.

In [14]:
class BankAccount():
  def __init__(self, balance = 0, account_number = None):
    self.__balance = balance
    self.__account_number = account_number

  @property
  def balance(self):
    return self.__balance

  @balance.setter
  def balance(self, new_balance):
    if new_balance < 0:
      print("Error: Balance cannot be negative.")
    else:
      self.__balance = new_balance
      print(f"Balance updated: {self.__balance}")

  def deposit(self, amount):
    if amount > 0:
      self.__balance += amount
      print(f"Deposited: {amount}")
      print(f"New Balance: {self.__balance}")
    else:
      print("Error: Deposit amount must be positive.")

  def withdraw(self, amount):
    if amount > 0 and amount <= self.__balance:
      self.__balance -= amount
      print(f"Withdrawn: {amount}")
      print(f"New Balance: {self.__balance}")
    else:
      print("Error: Invalid withdrawal amount.")

person1 = BankAccount(account_number=1)
print(f"Initial balance {person1.balance}")

person1.deposit(1000)
person1.withdraw(1200)
person1.withdraw(800)

Initial balance 0
Deposited: 1000
New Balance: 1000
Error: Invalid withdrawal amount.
Withdrawn: 800
New Balance: 200

9. (11б). Створіть клас Library, який містить список об'єктів типу Book. Реалізуйте методи для додавання книги, видалення книги та відображення списку книг.

In [22]:
class Book():
  def __init__(self, title, author, kind=None):
    self.title = title
    self.author = author
    self.kind = kind

class Library():
  def __init__(self):
    self.books=[]

  def add_book(self, book):
    self.books.append(book)
    print(f"Book {book.title} of type {book.kind} written by {book.author} added to library!")

  def remove_book(self, rem_book):
    for book in self.books:
      if book.title == rem_book.title and book.author == rem_book.author:
        self.books.remove(book)
        print(f"Book {book.title} of type {book.kind} written by {book.author} removed from library!")
        return
    print(f"Book with title {rem_book.title} written by {rem_book.author} not found in the library.")

  def see_books(self):
    if not self.books:
      print("The library is empty. Add some books first!")
    else:
      print("Books in the library:")
      for i, book in enumerate(self.books, start=1):
          print(f"{i}. '{book.title}' written by {book.author}")

book1 = Book("Math", "Pifagor", "Sience")
book2 = Book("Python", "Person")
book3 = Book("hello...", "Someone", "Something")
book4 = Book("hello...", "Someone")

my_library = Library()
my_library.add_book(book1)
my_library.add_book(book2)
my_library.add_book(book3)
print("=" * 60)
my_library.see_books()
print("=" * 60)
my_library.remove_book(book4)
print("=" * 60)
my_library.remove_book(book4)
print("=" * 60)
my_library.see_books()

Book Math of type Sience written by Pifagor added to library!
Book Python of type None written by Person added to library!
Book hello... of type Something written by Someone added to library!
============================================================
Books in the library:
1. 'Math' written by Pifagor
2. 'Python' written by Person
3. 'hello...' written by Someone
============================================================
Book hello... of type Something written by Someone removed from library!
============================================================
Book with title hello... written by Someone not found in the library.
============================================================
Books in the library:
1. 'Math' written by Pifagor
2. 'Python' written by Person

10. (13б). Створіть клас Person з атрибутами name та age. Створіть ще один клас Employee з такими атрибутами, як department та salary. Створіть клас Manager, який успадковує обидва класи Person та Employee. Продемонструйте використання множинної спадковості, створивши обʼєкт класу Manager та отримавши mro для цього класу.

In [23]:
class Person():
  def __init__(self, name, age):
    self.name = name
    self.age = age

class Employee():
  def __init__(self,  department,  salary):
    self.department = department
    self. salary =  salary

class Manager(Person, Employee):
  def __init__(self, name, age, department, salary):
    Person.__init__(self, name, age)
    Employee.__init__(self, department, salary)

manager1 = Manager(name="Hello Hello", age=24, department="Social", salary=120000)
print(f"Manager {manager1.name} {manager1.age} years old, works in {manager1.department} department with a salary of {manager1.salary}")
print(f"MRO for Manager class: {Manager.mro()}")

Manager Hello Hello 24 years old, works in Social department with a salary of 120000
MRO for Manager class: [<class '__main__.Manager'>, <class '__main__.Person'>, <class '__main__.Employee'>, <class 'object'>]

# II. Iterator

11. (4б). Визначте рядок(str) з 4ма різними за значенням символами. Створіть ітератор на основі цього рядка. Викличте 5 разів функцію next на ітераторі, 4ри перших з них огорніть у ф-цію print().

In [29]:
my_str = "abcd"
my_iterator = iter(my_str)

for i in range(5):
    result = next(my_iterator)
    if i < 4:
        print(result)

a
b
c
d

StopIteration:

А що якщо викликати цю ж функцію на рядку?

In [32]:
print(next(my_str))

TypeError: 'str' object is not an iterator

 12. (5б). Опишіть своїми словами в одному реченні, як ви розумієте різницю між ітерабельними обʼєктами та ітераторами (можна на прикладі).

Ітерабельні об'єкти це об'єкти які можна передирати(наприклад рядки чи списки), а ітератори це об'єкти що ітерують(викликають функцію ітерування тощо)

13. (11б). Створіть клас, що має визначений Iterator Protocol та при кожному виклику next повертає літери англійської абетки, поки вони не вичерпаються.

In [33]:
class AlphabetIterator():
  def __init__(self):
    self.current_letter = ord('a')

  def __iter__(self):
    return self

  def __next__(self):
    if self.current_letter > ord('z'):
      raise StopIteration
    else:
      letter = chr(self.current_letter)
      self.current_letter += 1
      return letter

alphabet_iterator = AlphabetIterator()
for letter in alphabet_iterator:
    print(letter)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.